/*~ 色設定 ~*/
$color-ffffff : #ffffff;
$color-333333 : #333333;
$color-999999 : #999999;
$color-38aef0 : #38aef0;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper{
  display: flex;
}

/*~ サイドバー ~*/
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;

  /*~ ヘッダー部分 ~*/
  &__header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;

    /*~ ユーザー名とボタンアイコン用div ~*/
    &__user-box{
      margin: 0 auto;
      width: 260px;
      color: $color-ffffff;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;

      /*~ グループ作成、アカウントEdit(ul要素) ~*/
      &__menu-lists{
        width: 60px;
        display: flex;
        justify-content: flex-end;
      }
      /*~ ボタンアイコン ~*/
      &__btn--icon{
        color: $color-ffffff;
        margin-left: 5px;
      }
    }
  }

  /*~ グループ情報のdiv ~*/
  &__group-box {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 260px;
    margin: 0 auto;

    /*~ グループ名 ~*/
    &__group-name{
      font-size: 15px;
      color: $color-ffffff;
      font-weight: bold;
      margin-bottom: 5px;
    }

    /*~ 最新の投稿 ~*/
    &__last-message{
      font-size: 11px;
      color: $color-ffffff;
      font-weight: bold;
    }
  }
}

/*~ メイン画面 ~*/
.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $color-ffffff;

  /*~ ヘッダー部分 ~*/
  &__header{
    height: 100px;
    background-color: $color-ffffff;
    border-bottom: 1px solid #eeeeee;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;

    /*~ グループ名とグループメンバー用div ~*/
    &__group-box{
      height: 100px;

      /*~ グループ名 ~*/
      &__group-name{
        margin-top: 35px;
        margin-bottom: 15px;
        color: $color-333333;
        font-size: 20px;
      }

      /*~ グループメンバー ~*/
      &__group-member{
        color: $color-999999;
        font-size: 12px;
      }
    }

    /*~ Editボタン用div ~*/
    &__edit-box{
      height: 100px;
      width: 72px;
      padding-top: 28px;
      padding-bottom: 28px;
      display: flex;
      align-items: center;

      /*~ Editボタン ~*/
      &__edit-btn{
        display: inline-block;
        height: 40px;
        width: 72px;
        font-size: 16px;
        color: $color-38aef0;
        border: solid 1px $color-38aef0;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 40px;
        text-align: center;
      }
    }
  }

  /*~ メッセージ一覧 ~*/
  &__messages{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;

    /*~ メッセージ（1件）用のdiv ~*/
    &__message-box{
      margin-bottom: 46px;

      /*~ 送信者情報のdiv ~*/
      &__sender-box{
        margin-bottom: 12px;
        display: flex;

        /*~ 送信者名 ~*/
        &__sender-name{
          color: $color-333333;
          font-size: 16px;
        }
        /*~ 送信時刻 ~*/
        &__send-time{
          color: $color-999999;
          font-size: 12px;
        }
      }

      /*~ メッセージ内容（1件） ~*/
      &__message{
        color: #434A54;
        font-size: 14px;
      }
    }
  }

  /*~ メッセージ入力フォーム ~*/
  &__form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    
    &__new-message{
      display: flex;
    /*~ テキスト入力と画像選択ボタン配置用のdiv ~*/
      &__input-box{
        background-color: $color-ffffff;
        position: relative;
        width: 100%;
        margin-right: 15px;
        height: 50px;
        display: flex;
        align-items: center;

        /*~ テキストボックス ~*/
        &__text{
          position:absolute;
          left: 0px;
          height: 50px;
          width: 100%;
          border-style: none;
          padding-left: 10px;
        }

        /*~ 画像ボタン用label ~*/
        &__image{
          position:absolute;
          right: 10px;
          font-size: 25px;
          cursor: pointer;
          
          /*~ デフォルトのボタンとファイル名を非表示 ~*/
          &__input{
            display: none;
          }
        }
      }

      /*~ 送信ボタン ~*/
      &__submit{
        background-color: $color-38aef0;
        height: 50px;
        padding-left: 30px;
        padding-right: 30px;
        color: $color-ffffff;
        cursor: pointer;
      }
    }
  }
}